################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Toolroom.DataHelper/bin
/src/Toolroom.DataHelper/obj
*.DotSettings
*.suo
/src/packages
/src/.vs/
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
